@import url("https://userstyles.world/api/style/23129.user.css");
@import url("https://userstyles.world/api/style/23106.user.css");
:root{
/*this variable is for making edges more or less roundy*/
--radius-sm:20px;
--input-area-radius:20px;
--avatars:35%;
--overall-roundness:15px;
--overall-roundness-sm:7px;

--input-area-color:;
--text-muted:#ffffff94;
--text-normal:#ffffffe3
--custom-category-channel-space-before-category:7px
}
